.roadmap-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:row;
  flex-wrap:wrap;
  gap:40px;
}
.roadmap-div{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width:400px;
  height:600px;
  margin: 50px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 7px 7px 14px black;
  transition: 0.10s box-shadow ease;
}
.roadmap-div img{
  margin-inline: auto;
}
.course-desc{
  color:black;
  
}
.path-desc{
  color:black;
}
.pyqBtn{
  padding: 10px;
  margin-inline: 80px;
  background-color: green;
  color:white;
  box-shadow: 5px 5px 10px black;
}
.pyqBtn:hover{
  background-color: #59ea1a ;
}
a{
  text-decoration: none;
  color:white;
}
a:visited{
  color:white;
}
