
.tutor-hire-div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index:1;
  width:100%;
  min-height:30em;
  /* gap:30px; */
  background-color:#232323;
  /* box-shadow: 5px 5px 10px black; */
}
.tutor-0{
  /* margin-top:30px; */
  min-height:6em;
  width:100%;
  border-top:2px solid white;
}
.userIcon{
  color:white;
  font-size:1.5em;
  text-align: left;
}
.tutor-name{
  text-align: center;
  color:white;
}
span{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:30px;
  height: max-content;
}
.starIcon{
  color:gold;
  white-space: nowrap;
}
.tutor-0:hover{
  background-color: #d23a3a;
}
.teacher-hire-div{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.teacher-0{
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
  height: 600px;
  margin: 50px;
  box-shadow: 5px 5px 10px black;
  border-radius: 10px;
  background-color:#232323;
}
.stars-nd-shit{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow:row;
  padding-inline: 15px;
}
.paraType1{
  margin-bottom: 0;
}