.teacher-check{
  margin-top:20vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  gap: 30px;
  align-items: center;
  min-height:25em;
  margin-inline: auto;
  border-radius: 10px;
  width:35em;
  padding: 30px;
  box-shadow: 5px 5px 10px #232323;
}
.teacher-name-input{
  padding:10px;
  border:none;
  outline: none;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #232323;
}
.teacher-number-input{
  padding:10px;
  border:none;
  outline: none;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #232323;
}
.verification-cam{
  background-color: green;
  border-radius: 10px;
  color:white;
  padding: 10px;
  box-shadow: 5px 5px 10px #232323;
}
.verification-cam:hover{
  background-color: #59ea1a;
}